# SPRINT-3:

In [5]:
import numpy as np
import pandas as pd

from wordcloud import WordCloud

import warnings
warnings.filterwarnings('ignore')

# Build a model which takes the text review as input and predicts the rating of the review:

In [6]:
df = pd.read_csv(r"Sentiment_Analysis_1.csv")

In [7]:
df.head()

,Product_Id,User_Id,Profile_Name,Helpfulness_Numerator,Helpfulness_Denominator,Score,Time,Review_Summary,Review_Text,Helpfulness,sentiment,word_count
0,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanu...,useless,negative,31
1,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a f...,>75%,positive,94
2,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient ...,>75%,negative,41
3,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wi...,useless,positive,27
4,B006K2ZZ7K,ADT0SRK1MGOEU,Twoapennything,0,0,4,1342051200,Nice Taffy,I got a wild hair for taffy and ordered this ...,useless,positive,22

# in our datset we are having time in different format,so we are changing our time here:

In [8]:
import datetime
datetime.datetime.fromtimestamp(1346976000).strftime('%d-%m-%Y %H:%M:%S') #day,#month,#year,#hour,#minutes,#seconds

'07-09-2012 05:30:00'

In [9]:
df["Time"] = df["Time"].apply(lambda x : datetime.datetime.fromtimestamp(x).strftime('%d-%m-%Y %H:%M:%S'))

In [10]:
df['Time']

0         07-09-2012 05:30:00
1         18-08-2008 05:30:00
2         13-06-2011 05:30:00
3         21-10-2012 05:30:00
4         12-07-2012 05:30:00
                 ...
568448    09-03-2011 05:30:00
568449    09-03-2012 05:30:00
568450    21-02-2012 05:30:00
568451    13-03-2012 05:30:00
568452    31-05-2012 05:30:00
Name: Time, Length: 568453, dtype: object

In [11]:
df["Time"] = pd.to_datetime(df["Time"])

In [12]:
#here we have created one new column (DATE) from time column:

In [13]:
df["Date"] = df["Time"].apply(lambda x : x.date())

In [14]:
df["Time"] = df["Time"].apply(lambda x : x.time())

In [15]:
df.head()

,Product_Id,User_Id,Profile_Name,Helpfulness_Numerator,Helpfulness_Denominator,Score,Time,Review_Summary,Review_Text,Helpfulness,sentiment,word_count,Date
0,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,05:30:00,Not as Advertised,Product arrived labeled as Jumbo Salted Peanu...,useless,negative,31,2012-07-09
1,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,05:30:00,"""Delight"" says it all",This is a confection that has been around a f...,>75%,positive,94,2008-08-18
2,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,05:30:00,Cough Medicine,If you are looking for the secret ingredient ...,>75%,negative,41,2011-06-13
3,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,05:30:00,Great taffy,Great taffy at a great price. There was a wi...,useless,positive,27,2012-10-21
4,B006K2ZZ7K,ADT0SRK1MGOEU,Twoapennything,0,0,4,05:30:00,Nice Taffy,I got a wild hair for taffy and ordered this ...,useless,positive,22,2012-12-07

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568453 entries, 0 to 568452
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Product_Id               568453 non-null  object
 1   User_Id                  568453 non-null  object
 2   Profile_Name             568453 non-null  object
 3   Helpfulness_Numerator    568453 non-null  int64
 4   Helpfulness_Denominator  568453 non-null  int64
 5   Score                    568453 non-null  int64
 6   Time                     568453 non-null  object
 7   Review_Summary           568453 non-null  object
 8   Review_Text              568453 non-null  object
 9   Helpfulness              568453 non-null  object
 10  sentiment                568453 non-null  object
 11  word_count               568453 non-null  int64
 12  Date                     568453 non-null  object
dtypes: int64(4), object(9)
memory usage: 56.4+ MB

# here we have taken only 3 columns for train and test cases:

In [47]:
df = df[["Review_Summary","Review_Text","sentiment"]]

In [48]:
df.head()

,Review_Summary,Review_Text,sentiment
0,Not as Advertised,Product arrived labeled as Jumbo Salted Peanu...,negative
1,"""Delight"" says it all",This is a confection that has been around a f...,positive
2,Cough Medicine,If you are looking for the secret ingredient ...,negative
3,Great taffy,Great taffy at a great price. There was a wi...,positive
4,Nice Taffy,I got a wild hair for taffy and ordered this ...,positive

In [100]:
y  = df[["sentiment"]] #target variable

X = df.drop(["sentiment"],axis = 1)  #input variable

#in x train we have :

# 1.Review_Summary and 2.Review_Text

# data preparation:

In [101]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=52)

# for train case:

In [102]:
X_train.head()

,Review_Summary,Review_Text
45353,Yummy,Fabulous cookie. Perfect size. Love packagi...
47965,ZICO is easy to order and tasty to drink,My boyfriend loves this stuff and since we li...
561397,Good for you and great price!,I mix this organic protein powder in my smoot...
502256,Coffee just ok,Coffee does not taste as fresh as would have ...
63822,Enjoyable Lite Coffee,This is the one coffee you may have at any ti...

In [103]:
y_train.head()

       sentiment
45353   positive
47965   positive
561397  positive
502256  negative
63822   positive

In [104]:
X_train.shape

(454762, 2)

# nltk:NATURAL LANGUAGE TOOLKIT:

In [54]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\dell\anaconda3\anaconda\lib\site-packages (3.6.5)
Requirement already satisfied: click in c:\users\dell\anaconda3\anaconda\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in c:\users\dell\anaconda3\anaconda\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\dell\anaconda3\anaconda\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\dell\anaconda3\anaconda\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\anaconda\lib\site-packages (from click->nltk) (0.4.4)

In [55]:
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [56]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

# stemming:

In [ ]:
## initialise the inbuilt Stemmer

stemmer = PorterStemmer()

#Stemming is the process of reducing a word

# lemmatizer:

In [ ]:
# # We can also use Lemmatizer instead of Stemmer

lemmatizer = WordNetLemmatizer()


#Lemmatization generally means to do the things properly with the use of vocabulary and morphological analysis of words. 
#In this process, the endings of the words are removed to return the base word, which is also known as Lemma.

# code for preprocess the REVIEW_TEXT:

In [58]:
def preprocess(Review_Text, flag):
 
    #removing special characters & digit
    words= re.sub("[^a-zA-Z]"," ",Review_Text)

    #change sentence to lower case
    words_lower = words.lower()

    #tokenize into words
    words_tokenize = words_lower.split()

    #remove stopwords
    words = [i for i in words_tokenize if not i in stopwords.words('english')]

    #stemming/lemmatization
    if(flag == 'lemma'):
        words = [stemmer.stem(word) for word in words]
    else:
        words = [lemmatizer.lemmatize(word) for word in words]
    
    return pd.Series([" ".join(words), len(words)])

In [59]:
from tqdm import tqdm, tqdm_notebook

tqdm.pandas()

In [105]:
X_train.head()

,Review_Summary,Review_Text
45353,Yummy,Fabulous cookie. Perfect size. Love packagi...
47965,ZICO is easy to order and tasty to drink,My boyfriend loves this stuff and since we li...
561397,Good for you and great price!,I mix this organic protein powder in my smoot...
502256,Coffee just ok,Coffee does not taste as fresh as would have ...
63822,Enjoyable Lite Coffee,This is the one coffee you may have at any ti...

# THIS IS FOR STEMMING:

In [64]:
#temp_df_lemma = X_train['Review_Text'].progress_apply(lambda x: preprocess(x, 'stem'))
#temp_df_lemma.head()

# here we are lemmatizing the X_TRAIN DATA:

In [62]:
temp_df_lemma = X_train['Review_Text'].progress_apply(lambda x: preprocess(x, 'lemma'))
temp_df_lemma.head()

100%|████████████████████████████████████████████████████████████████████████| 454762/454762 [2:40:18<00:00, 47.28it/s]

                                                        0   1
45353   fabul cooki perfect size love packag stale coo...  18
47965   boyfriend love stuff sinc live hour drive apar...  33
561397  mix organ protein powder smoothi add pancak ba...  29
502256  coffe tast fresh would expect price product re...  12
63822   one coffe may time day night caffein sensit me...  86

In [65]:
temp_df_lemma.columns = ['clean_text_lemma', 'text_length_lemma']

temp_df_lemma.head()

                                         clean_text_lemma  text_length_lemma
45353   fabul cooki perfect size love packag stale coo...                 18
47965   boyfriend love stuff sinc live hour drive apar...                 33
561397  mix organ protein powder smoothi add pancak ba...                 29
502256  coffe tast fresh would expect price product re...                 12
63822   one coffe may time day night caffein sensit me...                 86

# Concatinating the X_TRAIN:

In [106]:
x_train = pd.concat([X_train, temp_df_lemma], axis=1)

x_train.head()

,Review_Summary,Review_Text,clean_text_lemma,text_length_lemma
45353,Yummy,Fabulous cookie. Perfect size. Love packagi...,fabul cooki perfect size love packag stale coo...,18
47965,ZICO is easy to order and tasty to drink,My boyfriend loves this stuff and since we li...,boyfriend love stuff sinc live hour drive apar...,33
561397,Good for you and great price!,I mix this organic protein powder in my smoot...,mix organ protein powder smoothi add pancak ba...,29
502256,Coffee just ok,Coffee does not taste as fresh as would have ...,coffe tast fresh would expect price product re...,12
63822,Enjoyable Lite Coffee,This is the one coffee you may have at any ti...,one coffe may time day night caffein sensit me...,86

In [67]:
!pip install wordcloud

Requirement already satisfied: wordcloud in c:\users\dell\anaconda3\anaconda\lib\site-packages (1.8.1)
Requirement already satisfied: numpy>=1.6.1 in c:\users\dell\anaconda3\anaconda\lib\site-packages (from wordcloud) (1.20.3)
Requirement already satisfied: pillow in c:\users\dell\anaconda3\anaconda\lib\site-packages (from wordcloud) (8.4.0)
Requirement already satisfied: matplotlib in c:\users\dell\anaconda3\anaconda\lib\site-packages (from wordcloud) (3.4.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\anaconda3\anaconda\lib\site-packages (from matplotlib->wordcloud) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\anaconda\lib\site-packages (from matplotlib->wordcloud) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\anaconda3\anaconda\lib\site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\dell\anaconda3\anaconda\lib\site-packages (from matplotlib->wordcloud) (3.0.4)
Requirement already satisfied: six in c:\users\dell\anaconda3\anaconda\lib\site-packages (from cycler>=0.10->matplotlib->wordcloud) (1.16.0)

In [68]:
from wordcloud import WordCloud

In [69]:
y_train

45353     positive
47965     positive
561397    positive
502256    negative
63822     positive
            ...
129110    positive
331927    positive
56845     positive
566940    negative
482293    positive
Name: sentiment, Length: 454762, dtype: object

# here we are using countVectorizer:

In [107]:
from sklearn.feature_extraction.text import CountVectorizer

vocab = CountVectorizer()

vocab.fit(x_train['clean_text_lemma'])

X_train_bow = vocab.transform(x_train['clean_text_lemma'])

In [108]:
X_train_bow

<454762x63953 sparse matrix of type '<class 'numpy.int64'>'
	with 13355429 stored elements in Compressed Sparse Row format>

In [109]:
print("Total unique words:", len(vocab.vocabulary_))

print("Type of train features:", type(X_train_bow))

print("Shape of input data:", X_train_bow.shape)

Total unique words: 63953
Type of train features: <class 'scipy.sparse.csr.csr_matrix'>
Shape of input data: (454762, 63953)

# for test  case:

In [110]:
X_test

,Review_Summary,Review_Text
23804,Delicious...,I love PopChip Products in general. Having ...
459651,Good treats,"Our puppy loves the ziggies, if we need to ke..."
431516,Yummy Toddler Snack,We bought these when they were on a lightenin...
562274,A Lime flavored spicey Nut,Lime and Chili seemed a strange combination b...
399411,Spice World Minced Garlic 48 oz.,"Oh My gosh, I love this minced garlic. I can'..."
...,...,...
227649,My cat wouldn't touch these but my dogs love ...,After reading all of the positive reviews her...
498012,My three cat's love the Grilled Feast in Gravy,My three cat's will eat nothing but the Grill...
314539,"It's good, the bars are good","It's good, it's pretty good, the wife loves t..."
273640,One of the Best Chocolate Bars,One of the best chocolate bars I have tasted....
566453,"Tastes just as good, but not sure about the h...",So it's made out of cauliflower rather than w...

# we are applying lemmatizing for X_TEST data:

In [74]:
test_temp_df = X_test['Review_Text'].progress_apply(lambda x: preprocess(x, 'lemma'))

test_temp_df.head()

100%|██████████████████████████████████████████████████████████████████████████| 113691/113691 [33:22<00:00, 56.78it/s]

                                                        0   1
23804   love popchip product gener sweet potato variet...  19
459651  puppi love ziggi need keep occupi long period ...  10
431516  bought lighten deal let yr old toddler tri def...  29
562274  lime chili seem strang combin lime flavor natu...  49
399411  oh gosh love minc garlic believ let run thank ...  48

In [111]:
test_temp_df.columns = ['clean_text_lemma', 'text_length_lemma']

test_temp_df.head()

                                         clean_text_lemma  text_length_lemma
23804   love popchip product gener sweet potato variet...                 19
459651  puppi love ziggi need keep occupi long period ...                 10
431516  bought lighten deal let yr old toddler tri def...                 29
562274  lime chili seem strang combin lime flavor natu...                 49
399411  oh gosh love minc garlic believ let run thank ...                 48

In [112]:
x_test = pd.concat([X_test, test_temp_df], axis=1)

x_test.head()

,Review_Summary,Review_Text,clean_text_lemma,text_length_lemma
23804,Delicious...,I love PopChip Products in general. Having ...,love popchip product gener sweet potato variet...,19
459651,Good treats,"Our puppy loves the ziggies, if we need to ke...",puppi love ziggi need keep occupi long period ...,10
431516,Yummy Toddler Snack,We bought these when they were on a lightenin...,bought lighten deal let yr old toddler tri def...,29
562274,A Lime flavored spicey Nut,Lime and Chili seemed a strange combination b...,lime chili seem strang combin lime flavor natu...,49
399411,Spice World Minced Garlic 48 oz.,"Oh My gosh, I love this minced garlic. I can'...",oh gosh love minc garlic believ let run thank ...,48

In [113]:
X_test_bow = vocab.transform(x_test['clean_text_lemma'])

In [114]:
X_test_bow

<113691x63953 sparse matrix of type '<class 'numpy.int64'>'
	with 3331707 stored elements in Compressed Sparse Row format>

# LOGISTIC REGRESSION:

In [115]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train_bow, y_train)

LogisticRegression()

In [116]:
y_test_pred = classifier.predict(X_test_bow)

In [117]:
from sklearn.metrics import accuracy_score, classification_report

print(accuracy_score(y_test, y_test_pred))

print(classification_report(y_test, y_test_pred))

0.8625396909166073
              precision    recall  f1-score   support

    negative       0.74      0.64      0.69     16311
      neutal       0.52      0.20      0.29      8648
    positive       0.89      0.97      0.93     88732

    accuracy                           0.86    113691
   macro avg       0.72      0.60      0.64    113691
weighted avg       0.84      0.86      0.85    113691

In [118]:
# logistic regression: 0.8625396909166073
#accuracy:86%

In [ ]:
#Stemming is the process of reducing a word


#Lemmatization generally means to do the things properly with the use of vocabulary and morphological analysis of words. 
#In this process, the endings of the words are removed to return the base word, which is also known as Lemma.


#CountVectorizer tokenizes(tokenization means dividing the sentences in words) the text along with performing very basic preprocessing. 
#It removes the punctuation marks and converts all the words to lowercase.


#bow(bag of words) is nothing but in our data we are having some txt  data format;so we have to convert that txt to numerical(number-format) values we are using BOW.